<h1>User information for: <%= @user.name %></h1>

<h3>Orders:</h3>
<ul>
<% @user.orders.each do |order| %>
  <li><%= link_to "#{order.id} (#{pluralize(order.order_lines.length, 'line')})", order %></li>
<% end %>
</ul>

<h3>New order:</h3>
<p><%= link_to "Create a new order", new_order_url(:user_id => @user.id, :status => 0) %></p>

<h3>All users order lines:</h3>

<ul>
<% @user.order_lines.each do |line| %>
  <li><%= line.quantity %> x <%= link_to "Item-#{line.item.name}", line.item %> on line <%= link_to line.id, line %> costing $<%= calc_line_total(line) %>.00</li>
<% end %>
</ul>

<%= link_to 'Home', root_path %>
