<h1>New Order</h1>

<%= form_for @order, url: {action: "create"} do |f| %>
  <%= f.hidden_field(:user_id, :value => params[:user_id]) %>
  <%= f.hidden_field(:status, :value => params[:status]) %>
  <% @items.each do |item| %>
    <% item_sym = "#{item.id}qty".to_sym %>
    <p><%= item.name %> <%= f.number_field(item_sym, :value => params[item_sym]) %></p>
  <% end %>
  <%= f.submit "Order" %>
<% end %>



<%= link_to 'Back', orders_path %>
