<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>


<% @order.order_lines.each do |line| %>
  <p>line <%= link_to line.id, line %> - q <%= line.quantity %> - i <%= link_to line.item.id, line.item %> - $ <%= line.item.unit_price %></p>
<% end %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
