<p id="notice"><%= notice %></p>
<h1>Order <%= @order.id   %> for <%= link_to @order.user.name, @order.user %></h1>


<ul>
<% @order.order_lines.each do |line| %>
  <% if line.item.special_qty.nil? then %>
    <li>line <%= link_to line.id, line %> <%= line.quantity %> x <%= link_to line.item.name, line.item %> ($<%= line.item.unit_price %>.00ea) - Total: $<%= calc_line_total line %>.00</li>
  <% else %>
    <li>line <%= link_to line.id, line %> <%= line.quantity %> x <%= link_to line.item.name, line.item %> ($<%= line.item.unit_price %>.00ea / $<%= line.item.special_price %>.00 for <%=line.item.special_qty %>) - Total: $<%= calc_line_total line %>.00</li>
  <% end %>
<% end %>
</ul>

<h4>Order total: $<%= calc_order_total @order %>.00</h4>

<%= link_to 'Home', root_path %>
