<p id="notice"><%= notice %></p>

<h1>Item <%= @item.id %> information</h1>
<p>
  <strong>Name:</strong>
  Item-<%= @item.name %>
</p>

<p>
  <strong>Unit price:</strong>
  $<%= @item.unit_price %>.00
</p>

<p>
  <strong>Special qty:</strong>
  <%= @item.special_qty %>
</p>

<p>
  <strong>Special price:</strong>
  $<%= @item.special_price %>.00
</p>

<%= link_to 'Home', root_path %>
