<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @item.unit_price %>
</p>

<p>
  <strong>Special qty:</strong>
  <%= @item.special_qty %>
</p>

<p>
  <strong>Special price:</strong>
  <%= @item.special_price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
