<p id="notice"><%= notice %></p>

<h1>Order line <%= @order_line.id %></h1>
<p>
  <strong>Item:</strong>
  <%= link_to @order_line.item.name, @order_line.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_line.quantity %>
</p>

<p>
  <strong>Order:</strong>
  <%= link_to @order_line.order.id, @order_line.order %>
</p>

<%= link_to 'Home', root_path %>
